Notebook for project 3.

### Import data: client

In [1]:
import pandas as pd
import numpy as np

client = pd.read_csv("../data/CLIENT_191102.tsv", encoding='utf-8',delimiter='\t')
client.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,Urban Ministries of Durham - Durham County - S...,687902,kdaf01071967k400d635,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,Urban Ministries of Durham - Durham County - S...,687903,smrf06211973s620m640,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,Urban Ministries of Durham - Durham County - S...,687904,abrm07251958a416b600,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,Urban Ministries of Durham - Durham County - S...,687905,wbom01251964w450b620,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

Clean data by checking values in each column.

In [2]:
client.groupby("EE Provider ID").size()

EE Provider ID
Urban Ministries of Durham - Durham County - Singles Emergency Shelter - Private(5838)    4319
XXXClosed2015 Urban Ministries of Durham- Durham County- Journey Entry- ESG(1970)          721
XXXClosed2015 Urban Ministries of Durham- Durham County- Journey Forward- ESG(5694)         65
XXXClosed2015 Urban Ministries of Durham- Durham County- Journey Outreach- ESG(4515)        51
XXXClosed2015 Urban Ministries of Durham- Durham County- Journey Recovery- ESG(1932)        67
XXXClosed2015 Urban Ministries of Durham- Durham County- Journey Tech- ESG(4516)            61
XXXClosed2015 Urban Ministries of Durham- Durham County- Journey Veterans- ESG(5069)        15
dtype: int64

For this project, we only keep data from "Urban Ministries of Durham - Durham County - Singles Emergency Shelter - Private(5838)" because assumedly others are closed in 2015.

In [3]:
client=client[client["EE Provider ID"]=='Urban Ministries of Durham - Durham County - Singles Emergency Shelter - Private(5838)']

In [4]:
# get the number of unique values of "Client Unique ID"
client["Client Unique ID"].nunique()

2100

In [5]:
# get the number of unique values of "Client Unique ID"
client["Client ID"].nunique()

2102

We have more unique "Client ID" than unique "Client Unique ID" here, so we will use "Client ID" instead of "Client Unique ID".

In [6]:
#drop the "Client Unique ID" and "EE Provider ID"

client = client.drop(['Client Unique ID', 'EE Provider ID'],1)
client.head()

,EE UID,Client ID,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,687901,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,687902,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,687903,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,687904,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,687905,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

In [7]:
client.groupby("Client Age at Entry").size()

Client Age at Entry
18.0    29
19.0    32
20.0    69
21.0    57
22.0    66
        ..
76.0     5
77.0     6
78.0     1
80.0     1
81.0     1
Length: 63, dtype: int64

In [8]:
client.groupby("Client Age at Exit").size()

Client Age at Exit
18.0    24
19.0    34
20.0    67
21.0    57
22.0    70
        ..
75.0     3
76.0     4
77.0     6
78.0     2
81.0     2
Length: 62, dtype: int64

In [9]:
client.groupby("Client Gender").size()

Client Gender
Female                                  1036
Male                                    3268
Trans Female (MTF or Male to Female)      15
dtype: int64

In [10]:
client.groupby("Client Primary Race").size()

Client Primary Race
American Indian or Alaska Native (HUD)               74
Asian (HUD)                                           3
Black or African American (HUD)                    3133
Client doesn't know (HUD)                             4
Client refused (HUD)                                  2
Data not collected (HUD)                              6
Native Hawaiian or Other Pacific Islander (HUD)      11
White (HUD)                                        1086
dtype: int64

In [11]:
#change "Client doesn't know" "Client refused" and "Data not collected" to NaN
client['Client Primary Race']=client['Client Primary Race'].replace("Client doesn't know (HUD)", np.NaN).replace("Client refused (HUD)", np.NaN).replace("Data not collected (HUD)", np.NaN)
client.groupby("Client Primary Race").size()

Client Primary Race
American Indian or Alaska Native (HUD)               74
Asian (HUD)                                           3
Black or African American (HUD)                    3133
Native Hawaiian or Other Pacific Islander (HUD)      11
White (HUD)                                        1086
dtype: int64

In [12]:
client.groupby("Client Ethnicity").size()

Client Ethnicity
Client doesn't know (HUD)           5
Client refused (HUD)                4
Data not collected (HUD)            3
Hispanic/Latino (HUD)             163
Non-Hispanic/Non-Latino (HUD)    4144
dtype: int64

In [13]:
client['Client Ethnicity']=client['Client Ethnicity'].replace("Client doesn't know (HUD)", np.NaN).replace("Client refused (HUD)", np.NaN).replace("Data not collected (HUD)", np.NaN)
client.groupby("Client Ethnicity").size()

Client Ethnicity
Hispanic/Latino (HUD)             163
Non-Hispanic/Non-Latino (HUD)    4144
dtype: int64

In [14]:
client.groupby("Client Veteran Status").size()

Client Veteran Status
Data not collected (HUD)       2
No (HUD)                    3848
Yes (HUD)                    461
dtype: int64

In [15]:
client['Client Veteran Status']=client['Client Veteran Status'].replace("Data not collected (HUD)", np.NaN)
client.groupby("Client Veteran Status").size()

Client Veteran Status
No (HUD)     3848
Yes (HUD)     461
dtype: int64

3. Import data: entry_exit

In [16]:
entry_exit = pd.read_csv("../data/ENTRY_EXIT_191102.tsv", encoding='utf-8',delimiter='\t')
entry_exit.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Entry Exit Group Id,Entry Exit Household Id,Unnamed: 6,Entry Date,Housing Move-in Date(5584),Exit Date,Destination,Reason for Leaving,Entry Exit Type,Entry Exit Date Added,Entry Exit Date Updated
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,NaN,NaN,NaN,8/15/2015,4/20/2015,7/11/2016,"Rental by client, with other ongoing housing s...",Completed program,HUD,8/19/2015,7/20/2016
1,Urban Ministries of Durham - Durham County - S...,687902,kdaf01071967k400d635,130335,NaN,NaN,NaN,8/15/2015,NaN,8/31/2015,Data not collected (HUD),Needs could not be met,HUD,8/19/2015,9/3/2015
2,Urban Ministries of Durham - Durham County - S...,687903,smrf06211973s620m640,188933,NaN,NaN,NaN,8/15/2015,NaN,9/19/2015,"Staying or living with friends, temporary tenu...",Other,HUD,8/19/2015,9/22/2015
3,Urban Ministries of Durham - Durham County - S...,687904,abrm07251958a416b600,168290,NaN,NaN,NaN,8/15/2015,NaN,3/7/2016,Hospital or other residential non-psychiatric ...,Other,HUD,8/19/2015,3/8/2016
4,Urban Ministries of Durham - Durham County - S...,687905,wbom01251964w450b620,123122,NaN,NaN,NaN,8/15/2015,NaN,8/24/2015,"Staying or living with friends, temporary tenu...",Other,HUD,8/19/2015,8/25/2015

4. Clean data: basicly the same thing as client data

In [17]:
entry_exit.groupby("EE Provider ID").size()
entry_exit=entry_exit[entry_exit["EE Provider ID"]=='Urban Ministries of Durham - Durham County - Singles Emergency Shelter - Private(5838)']

In [18]:
entry_exit = entry_exit.drop(['Client Unique ID', 'EE Provider ID','Entry Exit Group Id','Entry Exit Household Id','Unnamed: 6','Housing Move-in Date(5584)'],1)
entry_exit.head()

,EE UID,Client ID,Entry Date,Exit Date,Destination,Reason for Leaving,Entry Exit Type,Entry Exit Date Added,Entry Exit Date Updated
0,687901,397941,8/15/2015,7/11/2016,"Rental by client, with other ongoing housing s...",Completed program,HUD,8/19/2015,7/20/2016
1,687902,130335,8/15/2015,8/31/2015,Data not collected (HUD),Needs could not be met,HUD,8/19/2015,9/3/2015
2,687903,188933,8/15/2015,9/19/2015,"Staying or living with friends, temporary tenu...",Other,HUD,8/19/2015,9/22/2015
3,687904,168290,8/15/2015,3/7/2016,Hospital or other residential non-psychiatric ...,Other,HUD,8/19/2015,3/8/2016
4,687905,123122,8/15/2015,8/24/2015,"Staying or living with friends, temporary tenu...",Other,HUD,8/19/2015,8/25/2015

In [19]:
entry_exit['Destination']=entry_exit['Destination'].replace("Client doesn't know (HUD)", np.NaN).replace("Client refused (HUD)", np.NaN).replace("Data not collected (HUD)", np.NaN)
entry_exit.groupby("Destination").size()

Destination
Deceased (HUD)                                                                                           3
Emergency shelter, incl. hotel/motel paid for w/ ES voucher, or RHY-funded Host Home shelter (HUD)      29
Hospital or other residential non-psychiatric medical facility (HUD)                                   137
Hotel or motel paid for without emergency shelter voucher (HUD)                                         17
Jail, prison or juvenile detention facility (HUD)                                                       44
Long-term care facility or nursing home (HUD)                                                            5
No exit interview completed (HUD)                                                                      958
Other (HUD)                                                                                              3
Owned by client, no ongoing housing subsidy (HUD)                                                        5
Owned by client, with ongoing housing subsidy (HUD)                                                      2
Permanent housing (other than RRH) for formerly homeless persons (HUD)                                  14
Place not meant for habitation (HUD)                                                                   147
Psychiatric hospital or other psychiatric facility (HUD)                                                34
Rental by client in a public housing unit (HUD)                                                          1
Rental by client, no ongoing housing subsidy (HUD)                                                     248
Rental by client, with RRH or equivalent subsidy (HUD)                                                  45
Rental by client, with VASH housing subsidy (HUD)                                                       12
Rental by client, with other ongoing housing subsidy (HUD)                                             149
Residential project or halfway house with no homeless criteria (HUD)                                     5
Safe Haven (HUD)                                                                                         3
Staying or living with family, permanent tenure (HUD)                                                  141
Staying or living with family, temporary tenure (HUD)                                                  401
Staying or living with friends, permanent tenure (HUD)                                                  72
Staying or living with friends, temporary tenure (HUD)                                                1406
Substance abuse treatment facility or detox center (HUD)                                                12
Transitional housing for homeless persons (including homeless youth) (HUD)                              29
dtype: int64

In [20]:
entry_exit.groupby("Reason for Leaving").size()

Reason for Leaving
Completed program                                       354
Criminal activity / violence                             80
Death                                                     4
Disagreement with rules/persons                          21
Does not or no longer qualifies for program              17
Left for housing opp. before completing program         393
Needs could not be met                                   98
Non-compliance with program                             288
Other                                                  1809
Reached maximum time allowed                             12
Unknown/Disappeared                                    1133
z-Left before completing program (not a HUD answer)       3
dtype: int64

In [21]:
entry_exit.groupby("Entry Exit Type").size()

Entry Exit Type
HUD    4319
dtype: int64

In [22]:
entry_exit = entry_exit.drop(['Entry Exit Type','Entry Exit Date Added','Entry Exit Date Updated'],1)
entry_exit.head()

,EE UID,Client ID,Entry Date,Exit Date,Destination,Reason for Leaving
0,687901,397941,8/15/2015,7/11/2016,"Rental by client, with other ongoing housing s...",Completed program
1,687902,130335,8/15/2015,8/31/2015,NaN,Needs could not be met
2,687903,188933,8/15/2015,9/19/2015,"Staying or living with friends, temporary tenu...",Other
3,687904,168290,8/15/2015,3/7/2016,Hospital or other residential non-psychiatric ...,Other
4,687905,123122,8/15/2015,8/24/2015,"Staying or living with friends, temporary tenu...",Other

In [23]:
entry_exit[['Entry Date', 'Exit Date']] = entry_exit[['Entry Date', 'Exit Date']].apply(pd.to_datetime)
entry_exit['stay_days']=entry_exit['Exit Date'] - entry_exit['Entry Date']
entry_exit.head()

,EE UID,Client ID,Entry Date,Exit Date,Destination,Reason for Leaving,stay_days
0,687901,397941,2015-08-15,2016-07-11,"Rental by client, with other ongoing housing s...",Completed program,331 days
1,687902,130335,2015-08-15,2015-08-31,NaN,Needs could not be met,16 days
2,687903,188933,2015-08-15,2015-09-19,"Staying or living with friends, temporary tenu...",Other,35 days
3,687904,168290,2015-08-15,2016-03-07,Hospital or other residential non-psychiatric ...,Other,205 days
4,687905,123122,2015-08-15,2015-08-24,"Staying or living with friends, temporary tenu...",Other,9 days

5. Import data: ee_udes

In [24]:
ee_udes = pd.read_csv("../data/EE_UDES_191102.tsv", delimiter='\t', encoding='utf-8')
ee_udes.head()

,EE Provider ID,Entry Exit Provider Program Type Code,EE UID,Client Unique ID,Client ID,Client Location(4378),"Zip Code (of Last Permanent Address, if known)(1932)",Relationship to Head of Household(4374),Prior Living Situation(43),Length of Stay in Previous Place(1934),...,Did you stay less than 90 days?(5163),"On the night before did you stay on the streets, ES or SH?(5165)","Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(5167)","Total number of months homeless on the street, in ES or SH in the past three years(5168)",Housing Status(2703),Does the client have a disabling condition?(1935),Covered by Health Insurance(4376),Domestic violence victim/survivor(341),"If yes for Domestic violence victim/survivor, when experience occurred(1917)",Date of Birth(893)
0,Urban Ministries of Durham - Durham County - S...,Emergency Shelter (HUD),687901,pbkf09291954p610b236,397941,NC-502 Durham City and County CoC,27701,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),...,NaN,NaN,Two times (HUD),2,Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),No (HUD),NaN,9/29/1954
1,Urban Ministries of Durham - Durham County - S...,Emergency Shelter (HUD),687902,kdaf01071967k400d635,130335,NC-502 Durham City and County CoC,29033,Self (head of household),"Staying or living in a family member's room, a...","One month or more, but less than 90 days",...,NaN,NaN,Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),Yes (HUD),More than a year ago (HUD),1/7/1967
2,Urban Ministries of Durham - Durham County - S...,Emergency Shelter (HUD),687903,smrf06211973s620m640,188933,NC-502 Durham City and County CoC,27703,Self (head of household),"Staying or living in a friend's room, apartmen...","One month or more, but less than 90 days",...,NaN,NaN,Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),NaN,6/21/1973
3,Urban Ministries of Durham - Durham County - S...,Emergency Shelter (HUD),687904,abrm07251958a416b600,168290,NC-502 Durham City and County CoC,27603,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),...,NaN,NaN,Four or more times (HUD),Data not collected (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),NaN,7/25/1958
4,Urban Ministries of Durham - Durham County - S...,Emergency Shelter (HUD),687905,wbom01251964w450b620,123122,NC-502 Durham City and County CoC,27510,Self (head of household),"Staying or living in a friend's room, apartmen...","One week or more, but less than one month",...,NaN,NaN,Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),NaN,1/25/1964

In [25]:
ee_udes=ee_udes[ee_udes["EE Provider ID"]=='Urban Ministries of Durham - Durham County - Singles Emergency Shelter - Private(5838)']

In [26]:
ee_udes = ee_udes.drop(['Client Unique ID', 'EE Provider ID'],1)
ee_udes.head()

,Entry Exit Provider Program Type Code,EE UID,Client ID,Client Location(4378),"Zip Code (of Last Permanent Address, if known)(1932)",Relationship to Head of Household(4374),Prior Living Situation(43),Length of Stay in Previous Place(1934),Did you stay less than 7 nights?(5164),Did you stay less than 90 days?(5163),"On the night before did you stay on the streets, ES or SH?(5165)","Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(5167)","Total number of months homeless on the street, in ES or SH in the past three years(5168)",Housing Status(2703),Does the client have a disabling condition?(1935),Covered by Health Insurance(4376),Domestic violence victim/survivor(341),"If yes for Domestic violence victim/survivor, when experience occurred(1917)",Date of Birth(893)
0,Emergency Shelter (HUD),687901,397941,NC-502 Durham City and County CoC,27701,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),NaN,NaN,NaN,Two times (HUD),2,Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),No (HUD),NaN,9/29/1954
1,Emergency Shelter (HUD),687902,130335,NC-502 Durham City and County CoC,29033,Self (head of household),"Staying or living in a family member's room, a...","One month or more, but less than 90 days",NaN,NaN,NaN,Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),Yes (HUD),More than a year ago (HUD),1/7/1967
2,Emergency Shelter (HUD),687903,188933,NC-502 Durham City and County CoC,27703,Self (head of household),"Staying or living in a friend's room, apartmen...","One month or more, but less than 90 days",NaN,NaN,NaN,Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),NaN,6/21/1973
3,Emergency Shelter (HUD),687904,168290,NC-502 Durham City and County CoC,27603,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),NaN,NaN,NaN,Four or more times (HUD),Data not collected (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),NaN,7/25/1958
4,Emergency Shelter (HUD),687905,123122,NC-502 Durham City and County CoC,27510,Self (head of household),"Staying or living in a friend's room, apartmen...","One week or more, but less than one month",NaN,NaN,NaN,Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),NaN,1/25/1964

In [30]:
#How many rows in dataframe?
ee_udes.shape[0]

4319

In [31]:
ee_udes.groupby("Did you stay less than 7 nights?(5164)").size()

Did you stay less than 7 nights?(5164)
No     15
Yes     4
dtype: int64

In [32]:
ee_udes.groupby("Did you stay less than 90 days?(5163)").size()

Did you stay less than 90 days?(5163)
No      1
Yes    10
dtype: int64

In [33]:
ee_udes.groupby("On the night before did you stay on the streets, ES or SH?(5165)").size()

On the night before did you stay on the streets, ES or SH?(5165)
No      4
Yes    10
dtype: int64

In [34]:
ee_udes.groupby("If yes for Domestic violence victim/survivor, when experience occurred(1917)").size()

If yes for Domestic violence victim/survivor, when experience occurred(1917)
Client doesn't know (HUD)                4
Client refused (HUD)                     7
Data not collected (HUD)                22
From six to twelve months ago (HUD)     32
More than a year ago (HUD)             195
Three to six months ago (HUD)           38
Within the past three months (HUD)     107
dtype: int64

Drop four columns above since there are too many missing values.

In [35]:
ee_udes = ee_udes.drop(['Did you stay less than 7 nights?(5164)', 'Did you stay less than 90 days?(5163)','On the night before did you stay on the streets, ES or SH?(5165)','If yes for Domestic violence victim/survivor, when experience occurred(1917)'],1)
ee_udes.head()

,Entry Exit Provider Program Type Code,EE UID,Client ID,Client Location(4378),"Zip Code (of Last Permanent Address, if known)(1932)",Relationship to Head of Household(4374),Prior Living Situation(43),Length of Stay in Previous Place(1934),"Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(5167)","Total number of months homeless on the street, in ES or SH in the past three years(5168)",Housing Status(2703),Does the client have a disabling condition?(1935),Covered by Health Insurance(4376),Domestic violence victim/survivor(341),Date of Birth(893)
0,Emergency Shelter (HUD),687901,397941,NC-502 Durham City and County CoC,27701,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),Two times (HUD),2,Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),No (HUD),9/29/1954
1,Emergency Shelter (HUD),687902,130335,NC-502 Durham City and County CoC,29033,Self (head of household),"Staying or living in a family member's room, a...","One month or more, but less than 90 days",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),Yes (HUD),1/7/1967
2,Emergency Shelter (HUD),687903,188933,NC-502 Durham City and County CoC,27703,Self (head of household),"Staying or living in a friend's room, apartmen...","One month or more, but less than 90 days",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),6/21/1973
3,Emergency Shelter (HUD),687904,168290,NC-502 Durham City and County CoC,27603,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),Four or more times (HUD),Data not collected (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),7/25/1958
4,Emergency Shelter (HUD),687905,123122,NC-502 Durham City and County CoC,27510,Self (head of household),"Staying or living in a friend's room, apartmen...","One week or more, but less than one month",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),1/25/1964

In [36]:
ee_reviews = pd.read_csv("../data/EE_REVIEWS_191102.tsv", delimiter='\t', encoding='utf-8')
ee_reviews.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Entry Exit Review Uid,Entry Exit Review Point in Time Type,Entry Exit Review Date,Entry Exit Review Date Updated,Entry Exit Review Provider Updating
0,Urban Ministries of Durham - Durham County - S...,687973,pswf10261963p362s620,399028,26744,Interim Review,1/7/2016,1/7/2016,Urban Ministries of Durham - Durham County - S...
1,Urban Ministries of Durham - Durham County - S...,687973,pswf10261963p362s620,399028,32030,Interim Review,4/20/2016,6/16/2016,XXXClosed2016 Urban Ministries of Durham - Dur...
2,Urban Ministries of Durham - Durham County - S...,688366,wbsf12081963w530b200,373187,26749,Interim Review,1/7/2016,1/7/2016,Urban Ministries of Durham - Durham County - S...
3,Urban Ministries of Durham - Durham County - S...,688366,wbsf12081963w530b200,373187,30241,Interim Review,4/18/2016,4/18/2016,Urban Ministries of Durham - Durham County - S...
4,Urban Ministries of Durham - Durham County - S...,688366,wbsf12081963w530b200,373187,32029,Interim Review,4/25/2016,6/16/2016,XXXClosed2016 Urban Ministries of Durham - Dur...

,EE UID,Client ID,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,687901,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,687902,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,687903,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,687904,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,687905,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
...,...,...,...,...,...,...,...,...
4314,1074322,166411,31.0,31.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
4315,1074391,198376,39.0,39.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
4316,1074405,1004266,59.0,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),NaN
4317,1074495,407506,22.0,22.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
4318,1074506,429149,52.0,52.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

In [38]:
client["EE UID"].nunique()

4319

In [39]:
entry_exit["EE UID"].nunique()

4319

In [42]:
ee_udes["EE UID"].nunique()

4319

### Merge data
The data frames of "client" "entry_exit" and "ee_udes" have the same number of "EE UID" values. Join them on this key.

In [41]:
merged_data=pd.merge(pd.merge(client, entry_exit, how='left', on='EE UID'),ee_udes,how='left', on='EE UID')
merged_data = merged_data.drop(['Client ID_y', 'Client ID'],1)
df.rename(columns={"Client ID_x": "Client ID"})
merged_data

,EE UID,Client ID_x,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status,Client ID_y,Entry Date,...,Relationship to Head of Household(4374),Prior Living Situation(43),Length of Stay in Previous Place(1934),"Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(5167)","Total number of months homeless on the street, in ES or SH in the past three years(5168)",Housing Status(2703),Does the client have a disabling condition?(1935),Covered by Health Insurance(4376),Domestic violence victim/survivor(341),Date of Birth(893)
0,687901,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),397941,2015-08-15,...,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),Two times (HUD),2,Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),No (HUD),9/29/1954
1,687902,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),130335,2015-08-15,...,Self (head of household),"Staying or living in a family member's room, a...","One month or more, but less than 90 days",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),Yes (HUD),1/7/1967
2,687903,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),188933,2015-08-15,...,Self (head of household),"Staying or living in a friend's room, apartmen...","One month or more, but less than 90 days",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),6/21/1973
3,687904,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD),168290,2015-08-15,...,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),Four or more times (HUD),Data not collected (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),7/25/1958
4,687905,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),123122,2015-08-15,...,Self (head of household),"Staying or living in a friend's room, apartmen...","One week or more, but less than one month",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),1/25/1964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4314,1074322,166411,31.0,31.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),166411,2019-10-23,...,Self (head of household),Rental by client in a public housing unit (HUD),One year or longer (HUD),One time (HUD),3,NaN,Yes (HUD),Yes (HUD),No (HUD),3/1/1988
4315,1074391,198376,39.0,39.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),198376,2019-10-24,...,Self (head of household),Place not meant for habitation (HUD),One year or longer (HUD),One time (HUD),One month (this time is the first month) (HUD),Category 1 - Homeless (HUD),No (HUD),No (HUD),No (HUD),10/7/1980
4316,1074405,1004266,59.0,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),NaN,1004266,2019-10-24,...,Self (head of household),Place not meant for habitation (HUD),One night or less,Two times (HUD),One month (this time is the first month) (HUD),Category 1 - Homeless (HUD),No (HUD),No (HUD),No (HUD),8/27/1960
4317,1074495,407506,22.0,22.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),407506,2019-10-25,...,Self (head of household),Psychiatric hospital or other psychiatric faci...,Two to six nights,Four or more times (HUD),More than 12 months (HUD),Category 2 - At imminent risk of losing housin...,Yes (HUD),Yes (HUD),No (HUD),4/27/1997
4318,1074506,429149,52.0,52.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),429149,2019-10-25,...,Self (head of household),"Staying or living in a friend's room, apartmen...",One night or less,Three times (HUD),More than 12 months (HUD),Category 2 - At imminent risk of losing housin...,No (HUD),Yes (HUD),Yes (HUD),11/25/1966

Keep only clients' first entry and merge data frames on "Client ID".

In [50]:
client_first = client.drop_duplicates(subset='Client ID', keep='first')
client_first = client_first.drop(['EE UID'],1)
entry_exit_first=entry_exit.drop_duplicates(subset='Client ID', keep='first')
entry_exit_first = entry_exit_first.drop(['EE UID'],1)
ee_udes_first=ee_udes.drop_duplicates(subset='Client ID', keep='first')
ee_udes_first = ee_udes_first.drop(['EE UID'],1)
merged_data_client=pd.merge(pd.merge(client_first, entry_exit_first, how='left', on='Client ID'),ee_udes_first,how='left', on='Client ID')
merged_data_client

,Client ID,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status,Entry Date,Exit Date,Destination,...,Relationship to Head of Household(4374),Prior Living Situation(43),Length of Stay in Previous Place(1934),"Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(5167)","Total number of months homeless on the street, in ES or SH in the past three years(5168)",Housing Status(2703),Does the client have a disabling condition?(1935),Covered by Health Insurance(4376),Domestic violence victim/survivor(341),Date of Birth(893)
0,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),2015-08-15,2016-07-11,"Rental by client, with other ongoing housing s...",...,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),Two times (HUD),2,Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),No (HUD),9/29/1954
1,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),2015-08-15,2015-08-31,NaN,...,Self (head of household),"Staying or living in a family member's room, a...","One month or more, but less than 90 days",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),Yes (HUD),1/7/1967
2,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),2015-08-15,2015-09-19,"Staying or living with friends, temporary tenu...",...,Self (head of household),"Staying or living in a friend's room, apartmen...","One month or more, but less than 90 days",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),6/21/1973
3,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD),2015-08-15,2016-03-07,Hospital or other residential non-psychiatric ...,...,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),Four or more times (HUD),Data not collected (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),7/25/1958
4,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),2015-08-15,2015-08-24,"Staying or living with friends, temporary tenu...",...,Self (head of household),"Staying or living in a friend's room, apartmen...","One week or more, but less than one month",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),1/25/1964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2097,1004126,18.0,18.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),NaN,2019-10-20,NaT,NaN,...,Self (head of household),Hospital or other residential non-psychiatric ...,"One week or more, but less than one month",NaN,NaN,Category 2 - At imminent risk of losing housin...,Yes (HUD),Yes (HUD),Yes (HUD),2/6/2001
2098,1003651,53.0,53.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),2019-10-22,NaT,NaN,...,Self (head of household),Place not meant for habitation (HUD),One year or longer (HUD),NaN,NaN,Category 1 - Homeless (HUD),Yes (HUD),NaN,NaN,9/4/1966
2099,166411,31.0,31.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),2019-10-23,NaT,NaN,...,Self (head of household),Rental by client in a public housing unit (HUD),One year or longer (HUD),One time (HUD),3,NaN,Yes (HUD),Yes (HUD),No (HUD),3/1/1988
2100,198376,39.0,39.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),2019-10-24,2019-10-25,No exit interview completed (HUD),...,Self (head of household),Place not meant for habitation (HUD),One year or longer (HUD),One time (HUD),One month (this time is the first month) (HUD),Category 1 - Homeless (HUD),No (HUD),No (HUD),No (HUD),10/7/1980
2101,1004266,59.0,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),NaN,2019-10-24,2019-10-25,No exit interview completed (HUD),...,Self (head of household),Place not meant for habitation (HUD),One night or less,Two times (HUD),One month (this time is the first month) (HUD),Category 1 - Homeless (HUD),No (HUD),No (HUD),No (HUD),8/27/1960

In [43]:
merged_data.to_csv("../data/merged_data.tsv", sep='\t')

In [53]:
merged_data_client.to_csv("../data/merged_data_client.tsv", sep='\t')

In [44]:
for column in merged_data.columns: 
    print(column)

EE UID
Client ID_x
Client Age at Entry
Client Age at Exit
Client Gender
Client Primary Race
Client Ethnicity
Client Veteran Status
Client ID_y
Entry Date
Exit Date
Destination
Reason for Leaving
stay_days
Entry Exit Provider Program Type Code
Client ID
Client Location(4378)
Zip Code (of Last Permanent Address, if known)(1932)
Relationship to Head of Household(4374)
Prior Living Situation(43)
Length of Stay in Previous Place(1934)
Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(5167)
Total number of months homeless on the street, in ES or SH in the past three years(5168)
Housing Status(2703)
Does the client have a disabling condition?(1935)
Covered by Health Insurance(4376)
Domestic violence victim/survivor(341)
Date of Birth(893)

In [45]:
all_sort = merged_data.sort_values(by=['Entry Date'], ascending=True)
all_sort

,EE UID,Client ID_x,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status,Client ID_y,Entry Date,...,Relationship to Head of Household(4374),Prior Living Situation(43),Length of Stay in Previous Place(1934),"Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(5167)","Total number of months homeless on the street, in ES or SH in the past three years(5168)",Housing Status(2703),Does the client have a disabling condition?(1935),Covered by Health Insurance(4376),Domestic violence victim/survivor(341),Date of Birth(893)
143,690620,194903,32.0,32.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),194903,2015-08-13,...,Self (head of household),"Jail, prison or juvenile detention facility (HUD)","One month or more, but less than 90 days",Four or more times (HUD),More than 12 months (HUD),Category 1 - Homeless (HUD),No (HUD),No (HUD),No (HUD),11/13/1982
137,689741,231530,40.0,40.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),231530,2015-08-13,...,Self (head of household),"Emergency shelter, incl. hotel/motel paid for ...","90 days or more, but less than one year",One time (HUD),Data not collected (HUD),Category 1 - Homeless (HUD),No (HUD),No (HUD),No (HUD),10/21/1974
0,687901,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),397941,2015-08-15,...,Self (head of household),"Staying or living in a friend's room, apartmen...",One year or longer (HUD),Two times (HUD),2,Category 1 - Homeless (HUD),Yes (HUD),Yes (HUD),No (HUD),9/29/1954
85,688737,10107,59.0,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),10107,2015-08-15,...,Self (head of household),"Emergency shelter, incl. hotel/motel paid for ...","One month or more, but less than 90 days",Three times (HUD),Data not collected (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),9/11/1955
84,688735,330427,68.0,68.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),330427,2015-08-15,...,Self (head of household),Hotel or motel paid for without emergency shel...,"One week or more, but less than one month",One time (HUD),Data not collected (HUD),Category 1 - Homeless (HUD),Yes (HUD),No (HUD),No (HUD),5/25/1947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4314,1074322,166411,31.0,31.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),166411,2019-10-23,...,Self (head of household),Rental by client in a public housing unit (HUD),One year or longer (HUD),One time (HUD),3,NaN,Yes (HUD),Yes (HUD),No (HUD),3/1/1988
4315,1074391,198376,39.0,39.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),198376,2019-10-24,...,Self (head of household),Place not meant for habitation (HUD),One year or longer (HUD),One time (HUD),One month (this time is the first month) (HUD),Category 1 - Homeless (HUD),No (HUD),No (HUD),No (HUD),10/7/1980
4316,1074405,1004266,59.0,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),NaN,1004266,2019-10-24,...,Self (head of household),Place not meant for habitation (HUD),One night or less,Two times (HUD),One month (this time is the first month) (HUD),Category 1 - Homeless (HUD),No (HUD),No (HUD),No (HUD),8/27/1960
4317,1074495,407506,22.0,22.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),407506,2019-10-25,...,Self (head of household),Psychiatric hospital or other psychiatric faci...,Two to six nights,Four or more times (HUD),More than 12 months (HUD),Category 2 - At imminent risk of losing housin...,Yes (HUD),Yes (HUD),No (HUD),4/27/1997
4318,1074506,429149,52.0,52.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),429149,2019-10-25,...,Self (head of household),"Staying or living in a friend's room, apartmen...",One night or less,Three times (HUD),More than 12 months (HUD),Category 2 - At imminent risk of losing housin...,No (HUD),Yes (HUD),Yes (HUD),11/25/1966

In [46]:
health_ins_entry = pd.read_csv("../data/HEALTH_INS_ENTRY_191102.tsv", delimiter='\t', encoding='utf-8')
health_ins_entry.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Covered (Entry),Health Insurance Type (Entry),Health Insurance Start Date (Entry),Health Insurance End Date (Entry),Provider (4307-provider),Recordset ID (4307-recordset_id),Date Added (4307-date_added)
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Employer - Provided Health Insurance,4/20/2015,NaN,Urban Ministries of Durham - Durham County(1562),2261535,7/16/2015
1,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Health Insurance obtained through COBRA,4/20/2015,NaN,Urban Ministries of Durham - Durham County(1562),2261536,7/16/2015
2,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Indian Health Services Program,6/9/2015,NaN,Urban Ministries of Durham - Durham County - S...,4677504,12/22/2016
3,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,MEDICAID,4/20/2014,NaN,Urban Ministries of Durham - Durham County(1562),1959563,4/21/2015
4,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,MEDICARE,4/20/2015,NaN,Urban Ministries of Durham - Durham County(1562),2261533,7/16/2015

In [47]:
health_ins_exit = pd.read_csv("../data/HEALTH_INS_EXIT_191102.tsv", delimiter='\t', encoding='utf-8')
health_ins_exit.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Covered (Exit),Health Insurance Type (Exit),Health Insurance Start Date (Exit),Health Insurance End Date (Exit),Recordset ID (4307-recordset_id),Provider (4307-provider),Date Added (4307-date_added)
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Employer - Provided Health Insurance,4/20/2015,NaN,2261535,Urban Ministries of Durham - Durham County(1562),7/16/2015
1,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Health Insurance obtained through COBRA,4/20/2015,NaN,2261536,Urban Ministries of Durham - Durham County(1562),7/16/2015
2,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Indian Health Services Program,6/9/2015,NaN,4677504,Urban Ministries of Durham - Durham County - S...,12/22/2016
3,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,MEDICAID,4/20/2014,NaN,1959563,Urban Ministries of Durham - Durham County(1562),4/21/2015
4,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,MEDICARE,4/20/2015,NaN,2261533,Urban Ministries of Durham - Durham County(1562),7/16/2015

In [48]:
income_entry = pd.read_csv("../data/INCOME_ENTRY_191102.tsv", delimiter='\t', encoding='utf-8')
income_entry.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Receiving Income (Entry),Income Source (Entry),Monthly Amount (Entry),Income Start Date (Entry),Income End Date (Entry),Recordset ID (140-recordset_id),Provider (140-provider),Date Added (140-date_added)
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Alimony or Other Spousal Support (HUD),NaN,4/20/2015,NaN,3263585,Urban Ministries of Durham - Durham County - S...,12/31/2015
1,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Child Support (HUD),NaN,4/20/2015,NaN,3263586,Urban Ministries of Durham - Durham County - S...,12/31/2015
2,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Earned Income (HUD),NaN,4/20/2015,NaN,3263590,Urban Ministries of Durham - Durham County - S...,12/31/2015
3,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,General Assistance (HUD),NaN,4/20/2015,NaN,3263587,Urban Ministries of Durham - Durham County - S...,12/31/2015
4,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No,Other (HUD),NaN,4/20/2015,NaN,3263599,Urban Ministries of Durham - Durham County - S...,12/31/2015